<div class="card mb-3">
    <div class="card-header">示例</div>
    <div class="card-body">
        <textarea highlight-js>&lt;abm-map #map [options]="options" (ready)="onReady($event)" style="height: 300px;"></abm-map></textarea>
        <abm-map #map [options]="options" (ready)="onReady($event)" style="height: 300px;"></abm-map>
        <p>{{status}}</p>
        <h5 style="border-bottom:1px solid #eee;" class="mt-3 mb-3 pb-3">操作</h5>
        <div class="mb-3">
            <button type="button" (click)="panTo()" class="btn btn-primary btn-sm">改变地图中心</button>
            <button type="button" (click)="zoom()" class="btn btn-primary btn-sm">自动放大缩小</button>
        </div>
        <div class="mb-3">
            <button type="button" (click)="infoWindow()" class="btn btn-primary btn-sm">添加信息窗口</button>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">卫星地图</div>
    <div class="card-body">
        <abm-map [options]="satelliteOptions" (ready)="onReadySatellite($event)" style="height: 300px;"></abm-map>
    </div>
</div>
